tools:

 . .venv/bin/activate && uvicorn main:app  --port 7347

we are running the server on localhost:4444
can use curl

we use uv package manager so `uv pip install`
python commands can be ran but test one file at a time
. .venv/bin/activate && pytest .

no unrelated change, no comments - we are expert level devs on prod code