.env
migration.log
data.db
user_migration.log
.venv
.git
models
OFA/checkpoints

*.py[cod]
models

# C extensions
*.so

# Packages
*.egg
*.egg-info
eggs
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

.idea
.DS_STORE
.DS_Store
sellerinfo.py
static/js/templates.js

node_modules
secrets
customersecrets
ddns/config.json
__pycache__
flagged
mainserver.log

nltk_data/
monitors/monitor_api.log
monitors/monitor_site.log
