astroid
Click
colorama
fastapi
gunicorn
h11
isort
lazy-object-proxy
mccabe
six
uvicorn
wrapt
#transformers
#transformers
#accelerate

#torch
#torch
# we dont need torchvision-0.12.0+cu113


google-api-python-client
google-api-core
#google-cloud-storage
google-cloud-storage

google-cloud-ndb
loguru
#pydantic
#jinja2
jinja2
websockets
#nltk
nltk
stripe
cachetools
python-multipart
rsa
