astroid
Click
colorama
gunicorn
h11
isort
lazy-object-proxy
mccabe
six>=1.16.0
uvicorn
wrapt
#transformers
#transformers
#accelerate

#torch
#torch
# we dont need torchvision-0.12.0+cu113


google-api-python-client
google-api-core
#google-cloud-storage
google-cloud-storage

google-cloud-ndb
loguru
#jinja2
jinja2
websockets
#nltk
nltk
stripe
cachetools
python-multipart
rsa

# Let compile resolve these based on anthropic and other needs
# fastapi==0.109.2
# pydantic==2.6.1
# httpx==0.24.1
# httpcore==0.17.3
fastapi
pydantic
protobuf<=3.20.0
anthropic==0.49.0
httpx
httpcore
