<div class="article-theme">

    <h1>About reWord Game</h1>

    <p class="lead">reWord Game is a brand new, free online massive multiplayer chess match! It offers free addicting fun
        for the whole family. Be puzzled and build your brain today by playing reWord Game. </p>

{#    <p class="lead"><b>Instructions:</b><br/>#}
{#        TODO#}
{#    </p>#}
</div>
