<div class="article-theme">

    <h1>Contact reWord Game</h1>

    <p class="lead">Contact reWord Game by email: <a href="mailto:lee.penkman@wordsmashing.com"
                                                       title="contact reWord Game">lee.penkman@wordsmashing.com</a>
    </p>

    <p class="lead">reWord Game is a free online multiplayer chess board game fun for the whole family!</p>
</div>
