{% if wonGame %}
    <h1>You have won the Game!</h1>
{% endif %}
<div class="icon-container">
    <i class="icon-container__icon icon-container__icon--tick">✔︎</i>
</div> <span class="text-massive">Excellent!</span>

