<div class="ws-header">
    <div class="ws-header--item">&nbsp;
    </div>
    <a href="/" title="reWord Game" class="ws-header--item reword-header" onclick="return APP.gotoLink(this)"
       target="_blank" data-bypass="1">
        20 Questions with AI
    </a>

    <div class="ws-header--item text-left ws-share-buttons">

    </div>
</div>
