{% extends 'templates-game/base.jinja2' %}

{% block headers %}

    {% set title = 'reWord Game - So Sentences Seem Sensible!' -%}
    {% set description = 'reWord Game! 6+ Player Massive Multiplayer Chess Board!' -%}

    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description"
          content="{{ description }}">

    <meta name="keywords" content="chess, chess rules, big multiplayer chess, live chess, multiplayer chess">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:url" content="http://rewordgame.com">
    <meta property="og:image" content="{{ static_url }}/img/brain-generated256.png">

    <meta property="og:description"
          content="{{ description }}">
    <meta property="og:type" content="game">
    <meta property="og:site_name" content="reWord Game">
    <meta property="fb:admins" content="337972272904903">


{% endblock %}

{% block mainbody %}
    {% include "/templates-game/shared/campaign.jinja2" %}
{% endblock %}
