{% extends 'templates-game/base.jinja2' %}

{% block headers %}

    {% set title = 'reWord Game - Versus Mode!' -%}
    {% set description = 'Battle it out on a big multiplayer chess board! Play reWord Game Local Versus Mode!' -%}

    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description"
          content="{{ description }}">

    <meta name="keywords" content="puzzle games, chess, online chess, free online puzzle games, multiplayer chess game">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:url" content="http://rewordgame.com">
    <meta property="og:image" content="http://rewordgame.com/static/img/reword-game-logo512.png">
    <meta property="og:description"
          content="{{ description }}">
    <meta property="og:type" content="game">
    <meta property="og:site_name" content="reWord Game">
    <meta property="fb:admins" content="337972272904903">


{% endblock %}

{% block mainbody %}
    {% include "/templates-game/shared/versus.jinja2" %}
{% endblock %}
