{% import "templates/templates.jinja2" as gameon with context %}
<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Jasmine Spec Runner v2.0.0</title>

    <link rel="shortcut icon" type="image/png" href="/gameon/static/js/lib/jasmine-2.0.0/jasmine_favicon.png">
    <link rel="stylesheet" type="text/css" href="/gameon/static/js/lib/jasmine-2.0.0/jasmine.css">

    {{ gameon.cssheaders() }}

    <script type="text/javascript" src="/gameon/static/js/lib/jasmine-2.0.0/jasmine.js"></script>
    <script type="text/javascript" src="/gameon/static/js/lib/jasmine-2.0.0/jasmine-html.js"></script>
    <script type="text/javascript" src="/gameon/static/js/lib/jasmine-2.0.0/boot.js"></script>

    {{ gameon.jsheaders() }}


    <script type="text/javascript" src="/gameon/static/js/tests/SpecHelper.js"></script>
    <script type="text/javascript" src="/gameon/static/js/tests/gameonspec.js"></script>

</head>

<body>
<div class="gameon-clock"></div>
<div class="gameon-board"></div>
 {{ gameon.templates() }}
default starbar:
<div class="gameon-test-starbar"></div>
blue starbar:
<div class="gameon-test-blue-starbar"></div>
red starbar:
<div class="gameon-test-red-starbar"></div>
light blue starbar without stars:
<div class="gameon-test-no-star-starbar"></div>


</body>
</html>
