-e ./fairseq/
opencv-python
timm
ftfy==6.0.3
tensorboardX==2.4.1
pycocotools==2.0.4
pycocoevalcap==1.2
pytorch_lightning
einops
datasets
rouge_score

#torch==1.10.2
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.12.0+cu113
gradio
