<div class="demo-ribbon"></div>
<main class="demo-main mdl-layout mdl-layout__content">
    <div class="demo-container mdl-grid">
        <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
        <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">

            <div class="demo-crumbs mdl-color-text--grey-500">
                <a href="/" title="Text Generator">Text Generator</a> > About
            </div>
            <h3>Text Generator - About Our Machine Learning Text Generation Service</h3>
            <div class="bitbank-face" style="">
                <img src="/static/img/me.jpg" class="lee-img" width="256" height="256">
            </div>
            <p>Hi, I'm Lee Penkman Founder of Text Generator <br> Checkout my C.V. at <a href="http://leepenkman.appspot.com/">leepenkman.appspot.com</a>
                <br>Follow me on Twitter
                <a href="https://twitter.com/LeeLeepenkman" target="_blank">@LeeLeePenkman</a></p>
            <p>Text Generator is a small startup, our mission is to offer highly accurate, reliable and cost-effective text generation and AI systems.</p>
            <p>We offer this service using the latest machine learning/AI research running on Google Cloud hardware
                which has proven itself reliable</p>
{#            <h5>Check us out in the press!</h5>#}
{#            <a href="https://www.cryptocoinsnews.com/bitbank-nz-provides-live-cryptocurency-forecasts-machine-learning/"#}
{#               target="_blank" title="BitBank.nz Live Crypto Forecasts For Pro Traders">#}
{#                <img width="276px"#}
{#                     src="/static/img/cryptocoinsnews-vector-kopi-1-1.png"#}
{#                     alt="CryptoCoinsNews"></a>#}
            <p>We are located in Thames Coromandel, New Zealand</p>
            <p>Please feel free to <a href="/contact" title="Contact text-generator.io - Text Generation API">contact
                us</a> for any reason whatsoever :)</p>
            <p>Also try us on
                <a
                        href="https://twitter.com/TextGeneratorNZ">Twitter</a>
                and our <a href="https://text-generator.io/blog">Blog</a>
            </p>
        </div>
    </div>
{% import "templates/macros.jinja2" as macros with context %}

{{ macros.svgstyled() }}
</main>
