<div class="demo-ribbon"></div>
<main class="demo-main mdl-layout mdl-layout__content">
        <div style="text-align: center">
    <ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8598649123553748"
     data-ad-slot="4509432206"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
    </div>
    <div class="demo-container mdl-grid">
        <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
        <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">

            <div class="demo-crumbs mdl-color-text--grey-500">
                <a href="/" title="Text Generator">Text Generator</a> > Contact
            </div>

            <br>
            <p class="lead">Contact Text Generator by email: <a href="mailto:lee.penkman@wordsmashing.com"
                                                                title="contact Text Generator">lee.penkman@wordsmashing.com</a>
            </p>

            <p class="lead">Text Generator offers AI based text generation, it can be self-hosted on request.</p>
            <p>The system can be setup to run on various hardware configurations and accelerators, logging and
                monitoring setup.</p>
            <p>We also provide other machine learning services and custom AI training solutions</p>
            <p>Also checkout our blog for important announcements and technical documentation <a
                    href="https://text-generator.io/blog">Blog</a>
            </p>
        </div>
    </div>
</main>

