<footer class="mdl-mega-footer">
    <div class="mdl-mega-footer__middle-section">

        <div class="mdl-mega-footer__drop-down-section">
            <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
            <h3 class="mdl-mega-footer__heading">Company</h3>
            <ul class="mdl-mega-footer__link-list">
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/blog">Blog</a></li>
{#                <li><a href="http://blog.bitbank.nz">Blog</a></li>#}
            </ul>
        </div>

        {#        <div class="mdl-mega-footer__drop-down-section">#}
        {#            <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>#}
        {#            <h1 class="mdl-mega-footer__heading">Details</h1>#}
        {#            <ul class="mdl-mega-footer__link-list">#}
        {#                <li><a href="#">Specs</a></li>#}
        {#                <li><a href="#">Tools</a></li>#}
        {#                <li><a href="#">Resources</a></li>#}
        {#            </ul>#}
        {#        </div>#}

        <div class="mdl-mega-footer__drop-down-section">
            <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
            <h3 class="mdl-mega-footer__heading">Technology</h3>
            <ul class="mdl-mega-footer__link-list">
                <li><a href="/self-hosting">Self Hosting</a></li>
                <li><a href="/use-cases">Use Cases</a></li>
                <li><a href="/how-it-works">How It Works</a></li>
                {#                <li><a href="#">Tutorials</a></li>#}
                <li><a href="/docs">API Docs</a></li>
                <li><a href="/playground">Text Generation API Playground</a></li>
                <li><a href="/text-to-speech">Text To Speech API Playground</a></li>
                <li><a href="/bulk-text-generator">Bulk Generator</a></li>
                <li><a href="/ai-art-generator">AI Art Generator</a></li>
{#                <li><a href="/accuracy">Accuracy</a></li>#}
{#                <li><a href="/data">Data</a></li>#}
            </ul>
        </div>

        {#        <div class="mdl-mega-footer__drop-down-section">#}
        {#            <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>#}
        {#            <h1 class="mdl-mega-footer__heading">FAQ</h1>#}
        {#            <ul class="mdl-mega-footer__link-list">#}
        {#                <li><a href="#">Questions</a></li>#}
        {#                <li><a href="#">Answers</a></li>#}
        {#                <li><a href="/contact">Contact us</a></li>#}
        {#            </ul>#}
        {#        </div>#}
        <div class="mdl-mega-footer__drop-down-section">
            <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
            <h3 class="mdl-mega-footer__heading">Social</h3>
            <ul class="mdl-mega-footer__link-list">
{#                <li><a target="_blank" href="https://fb.me/Bitbanknz">Facebook</a></li>#}
                <li><a target="_blank" href="https://twitter.com/TextGeneratorNZ">Twitter</a></li>
                <li><a target="_blank"
                       href="https://www.youtube.com/channel/UC99WzS0KTNLl2hbx-xXA5lg">Youtube</a>
                </li>
                <li><a target="_blank" href="https://discord.gg/2rs5xWD5HQ">Discord</a></li>
                <li><a target="_blank" href="https://github.com/TextGeneratorio">Github</a></li>
{#                <li><a target="_blank" href="https://t.me/joinchat/AAAAAEpqa_lGP50BpPoQWQ">Telegram</a></li>#}
{#                <li><a target="_blank"#}
{#                       href="https://join.slack.com/t/bitbanknz/shared_invite/enQtMzA5ODY5NDA4MDY5LWE4OWEwN2Y2ZmMxODRiOTU2ZjRjNGY0ZDBkMWJkZDIyY2U1NmEyZjQ3YzQ1YmQ2MmRhODYxMzIyNmJmZjUxZjc">Slack</a>#}
                </li>
            </ul>
        </div>

    </div>

    <div class="mdl-mega-footer__bottom-section">
        <div class="mdl-logo">© Text Generator 2022</div>
        <ul class="mdl-mega-footer__link-list">
            <li><a href="/privacy">Privacy</a></li>
            <li><a href="/terms">Terms</a></li>
{#            <li><a href="/sitemap">Sitemap</a></li>#}

        </ul>
    </div>

</footer>
