<div class="demo-ribbon"></div>
<main class="demo-main mdl-layout mdl-layout__content">
        <div style="text-align: center">
    <ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8598649123553748"
     data-ad-slot="4509432206"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
    </div>
    <div class="demo-container mdl-grid">
        <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>

        <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">

        <h1>Text Generator Terms and Conditions</h1>
    <br>

    <p>Using this website you are agreeing to comply with and be bound by the following terms and conditions of
        use, which together with our privacy policy govern Text Generator’s relationship with you in relation to this
        website. The term ‘Text Generator’ or ‘us’ or ‘we’ refers to the owner of the website. The term ‘you’ refers to
        the user or viewer of our website.The use of this website is subject to the following terms of use:</p>
    <ul>
        <li>The content of the pages of this website is for your general information and use only. It is subject
            to change without notice.
        </li>
        <li>Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness,
            performance, completeness or suitability of the information and materials found or offered on this
            website for any particular purpose. You acknowledge that such information and materials may contain
            inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the
            fullest extent permitted by law.
        </li>
        <li>Your use of any information or materials on this website is entirely at your own risk, for which we
            shall not be liable. It shall be your own responsibility to ensure that any products, services or
            information available through this website meet your specific requirements.
        </li>
        <li>This website contains material which is owned by or licensed to us. This material includes, but is
            not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other
            than in accordance with the copyright notice, which forms part of these terms and conditions.
        </li>
        <li>All trade marks reproduced in this website which are not the property of, or licensed to, the
            operator are acknowledged on the website.
        </li>
        <li>Unauthorised use of this website may give rise to a claim for damages and/or be a criminal
            offence.
        </li>
        <li>From time to time this website may also include links to other websites. These links are provided
            for your convenience to provide further information. They do not signify that we endorse the
            website(s). We have no responsibility for the content of the linked website(s).
        </li>
        <li>You may not create a link to this website from another website or document without Text Generator’s prior
            written consent.
        </li>
        <li>Your use of this website and any dispute arising out of such use of the website is subject to the
            laws of New Zealand.
        </li>


    </ul>
    <p>
        Thank you for developing with Text Generator!
        <br>
        By accessing or using the application programming interfaces, or associated software, tools, developer services,
        data or documentation of Text Generator and its affiliates (collectively, “APIs”), you agree to be legally bound
        by and comply with the following terms, as well as any referenced policies, guidelines or agreements (including
        without limitation our Privacy Policy, Sharing & Publication Policy, and Community Guidelines), any
        documentation relating to your use of the APIs, and any additional requirements applicable to particular APIs
        (collectively the “Terms”). These Terms are entered into with Text Generator, L.L.C.(“Text Generator”, “we”,
        “our” or “us”). You understand that Text Generator may change these Terms or suspend or terminate your use of
        the APIs at any time. We will post notice of changes to the Terms on our website. Your continued use of the APIs
        after any changes to these Terms means you agree to the changes.
        <br>
        1. Registering and Accessing the APIs
        (a) Accepting the Terms. You may not use the APIs and may not accept these Terms if (i) you are not of legal age
        to form a binding contract with Text Generator, or (ii) you are a person barred from using or receiving the APIs
        under the applicable laws of the United States or other countries including the country in which you are
        resident or from which you use the APIs.
        <br>
        (b) Authority. If you are using our APIs on behalf of a person, company or entity, then you are agreeing to
        these Terms for that person, company or entity (in which case, the terms “you” and “your” in these Terms refer
        to that person, company or entity except for this Section 1(b)), and you represent and warrant that you have
        full legal authority to accept these Terms on behalf of that person, company or entity.
        <br>
        (c) Access and Credentials. To access the APIs, you must register according to our procedures and provide Text
        Generator with certain information (such as identification or contact details) as part of the registration
        process. Once registered, you will be issued certain access credentials to access the applicable APIs. You must
        keep the access credentials confidential and you may not sell, share, transfer, sublicense or otherwise make the
        access credentials available to others. You are responsible for all activities that occur using your access
        credentials. You will not misrepresent or mask your identity or your credentials when accessing or using the
        APIs.
        <br>
        (d) Registration Information. Any registration information that you give to Text Generator must be accurate and
        up to date and you will promptly inform us of any changes. You agree that we can use, store, and internally
        share your registration information to contact you for purposes under these Terms (for example, to notify you of
        any updates to developer tools).
        <br>
        (e) API Documentation. Your use of our APIs and display of Content within a software application, website, tool,
        service or product (your “Application”) must comply with these Terms and any technical documentation, usage
        guidelines, parameters, and other requirements provided to you by us, as may be modified by us from time to time
        (“Developer Documentation”). “Content” means any data or content accessed via our APIs. We may limit your access
        to some or all of the APIs or Content at our sole discretion at any time.
        <br>
        2. Using the APIs
        (a) License Grant. Subject to your compliance with these Terms, we grant you a limited, non-exclusive,
        non-sublicensable, non-transferrable, non-assignable, revocable license during the Duration to: (i) use the APIs
        and Developer Documentation solely to develop, test, run, operate, and support your Application; (ii) to allow
        end users to use your integration of the APIs within your Application; (iii) to display the Content accessed
        through the APIs within your Application and (iv) as otherwise expressly authorized by us in writing.
        <br>
        (b) Ownership. As between you and Text Generator, we and our affiliates own all rights, title, and interest in
        and to the APIs, Content, and Developer Documentation and all associated elements, components, and executables.
        Subject to the foregoing, you own all rights, title, and interest in and to your Application. You have no right
        to distribute or allow access to the stand-alone APIs. Except as expressly provided in these Terms, neither
        party grants, nor shall the other party acquire, any right, title or interest (including any implied license) in
        or to any property of the first party or its affiliates under these Terms. All rights not expressly granted in
        these Terms are withheld.
        <br>
        (c) Copyright. Text Generator will not assert copyright over Content generated by the API for you or your end
        users.
        <br>
        (d) Feedback. If you provide us feedback about the APIs or Content or any of our technology, data, business or
        systems, you hereby grant to Text Generator and its affiliates an unlimited, worldwide, royalty-free, perpetual,
        sublicensable (including through multiple tiers), and irrevocable right and license to use, share,
        commercialize, and otherwise exploit your feedback in any manner and for any purpose without any obligation to
        you. You will not give feedback that requires Text Generator or its affiliates to license its software or
        documentation to third parties because of including your feedback in them.
        <br>
        (e) Support. We may provide you with technical support and guidance for using the APIs and we may stop providing
        such support to you at any time without obligation to you.
        <br>
        (f) Children. Text Generator does not knowingly collect, either online or offline, personal information from
        persons under the age of 13. In order to use or access the APIs, you must be at least 18 years old.
        <br>
        (g) Third Party Products. Third party software, services, or other products (“Third Party Products”) you may use
        in connection with your use of the APIs are governed by the terms and conditions that accompany such Third Party
        Products. We are not responsible for any Third Party Products or your use of any Third Party Products.
        <br>
        (h) Free Tier. If you are using a free tier of the API, you may not create more than one account to receive
        additional benefits under the free tier. We may charge you standard rates for the API, or suspend or terminate
        access to the API, if we determine that you are not using the free tier in good faith.
        <br>
        (i) Early Access, Previews, and Private/Public Betas. You may be offered access to certain aspects or features
        of the API on an early access, preview, or public/private beta basis (“Preview Services”). Preview Services are
        offered for the purposes of testing, evaluating, and improving such service, may have reduced or different
        privacy, security, or compliance commitments, and may not become generally available or be error free. Content
        in Preview Services may not be secured and may be lost or damaged, and Output generated by Preview Services may
        also be subject to third party licenses, including, without limitation, open source licenses.
        <br>
        3. Usage Requirements
        In using our APIs, you (and anyone acting on your behalf) must adhere to the following:
        <br>
        (a) You will use the APIs and the Content only (i) in a lawful manner and in compliance with all applicable
        laws; (ii) in accordance with these Terms, the Developer Documentation, and the license granted in Section 2(a);
        (iii) in a manner that does not infringe, misappropriate or otherwise violate any of our rights or those of any
        other person or entity (for clarity, “manner” includes without limitation the method, purpose and/or means of
        causing or attempting to cause the APIs to generate Content); and (iv) in a manner consistent with the Text
        Generator mission and Charter, as determined by Text Generator in its sole discretion.
        <br>
        (b) You will not: (i) distribute, sell, lend, transfer, or grant any rights in or to all or any portion of the
        APIs or Content to any third party (except for making Content available to end users and allowing end users to
        use your integration of the APIs through the Application); (ii) create any software that functions substantially
        the same as the APIs and offer it to third parties; (iii) reverse assemble, reverse compile, decompile,
        translate or otherwise attempt to discover the source code of any component of the APIs; (iv) modify, alter,
        tamper with, repair or otherwise create derivative works of the APIs or Content or attempt to do so; (v) use the
        APIs or Content in connection with any spyware, malware, virus, worm, Trojan horse, or other malicious or
        harmful code, or any software application not expressly and knowingly authorized by users prior to being
        downloaded or installed on their computer or other electronic device; (vi) interfere or attempt to interfere in
        any manner with the functionality or proper working of the APIs; or (vii) use the APIs to develop competing
        products or services.
        <br>
        (c) You will ensure that the use of the APIs or Content with your Application does not violate these Terms or
        any agreement between you and anyone else.
        <br>
        (d) You will not use the APIs to discover any underlying components of our models, algorithms, and systems, such
        as exfiltrating the weights of our models by cloning via logits.
        <br>
        (e) You may not use web scraping, web harvesting, or web data extraction methods to extract data from the APIs,
        the Content, or Text Generator’s or its affiliates’ software, models or systems.
        <br>
        (f) You will not remove, obscure, or alter any notice, including any notice of intellectual property right,
        appearing on or contained within the APIs or Content.
        <br>
        (g) Your use of the APIs will comply with, and you will not attempt to circumvent, (i) any call rate limits,
        (ii) the requirement for you to use the APIs only in the countries, regions or territories currently supported
        by Text Generator, or (iii) other restrictions that may be established by us from time to time.
        <br>
        (h) You will not use the APIs or Content or allow any user to use the Application in a way that violates
        applicable law, including:
        <br>
        (i) Illegal activities, such as child pornography, gambling, cybercrime, piracy, violating copyright, trademark
        or other intellectual property laws;
        <br>
        (ii) Accessing or authorizing anyone to access the APIs from an embargoed country, region, or territory as
        prohibited by the U.S. government;
        <br>
        (iii) Threatening, stalking, defaming, defrauding, degrading, victimizing or intimidating anyone for any reason.
        <br>
        (i) You will make reasonable efforts to reduce the likelihood, severity, and scale of any societal harm caused
        by your Application by following the provided API Usage Guidelines. Text Generator may request information from
        you regarding your efforts to reduce safety risks, and such information may be used to assess compliance with
        these Terms as well as to inform improvements to the API.
        <br>
        (j) You will not use the APIs or Content or allow any user to use the Application in a way that causes societal
        harm, including but not limited to:
        <br>
        (i) Misleading end users that Application outputs were human-generated for generative use cases that do not
        involve a human in the loop;
        <br>
        (ii) Generating spam; and
        <br>
        (iii) Generating content for dissemination in electoral campaigns.
        <br>
        (k) You will not buy, sell, share or transfer API keys from, to or with a third party without our prior written
        consent.
        <br>
        4. Confidentiality
        (a) You may be given access to certain non-public confidential or proprietary information of Text Generator, its
        affiliates and other third parties, including, software and specifications related to the APIs and Text
        Generator’s and its affiliates’ algorithms, software, models, and systems, or other business information
        (collectively “Confidential Information”). Confidential Information includes any information that Text Generator
        or its affiliates consider confidential or would normally be considered confidential under the circumstances.
        You may use Confidential Information only as necessary in exercising your rights under these Terms. You may not
        disclose any Confidential Information to any third party without our prior written consent, and you agree that
        you will protect this Confidential Information from unauthorized use, access, or disclosure in the same manner
        that you would use to protect your own confidential and proprietary information of a similar nature and in any
        event with no less than a reasonable degree of care.
        <br>
        (b) Confidential Information does not include any information that: (i) is or becomes generally available to the
        public through no fault of yours; (ii) you already possess without any confidentiality obligations when you
        received it under these Terms; (iii) was or is later rightfully disclosed to you by a third party without any
        confidentiality obligations; (iv) we approved for release in writing; or (v) you independently developed without
        using or referencing any Confidential Information. You may disclose Confidential Information when required by
        law or the valid order of a court or other governmental authority if you give reasonable prior written notice to
        Text Generator of the disclosure.
        <br>
        (c) In the event of any conflict between the terms of this Section 4 and any non-disclosure agreement separately
        entered into between you and Text Generator, the latter shall control. Our Privacy Policy governs how we may use
        and disclose data, information and materials that you share with us pursuant to your use of the APIs and Content
        unless expressly agreed otherwise between you and Text Generator.
        <br>
        5. Security
        (a) Your network, operating system and the software of your servers, databases, and computer systems must be
        properly configured to securely operate your Application and store content collected through your Application.
        <br>
        (b) You agree that Text Generator and its affiliates may monitor any API activity from its own systems to
        secure, ensure the quality of, and improve Text Generator systems, products and services; perform research; and
        ensure compliance with these Terms and all applicable laws. You will give Text Generator reasonable access to
        your Application to monitor compliance with these Terms. You will not interfere with this monitoring and Text
        Generator may use any technical means to overcome such interference.
        <br>
        (c) You must have a process to respond to any vulnerabilities or breaches in your Application. If you discover
        or a third party reports to you any vulnerabilities or breaches related to your Application’s connection to the
        APIs, you will promptly contact Text Generator and provide details of the vulnerability or breach.
        <br>
        6. Privacy and Data Protection
        (a) Your Compliance. You must comply with all laws and regulations applicable to your use of the APIs and the
        data accessed through the APIs and your Application, including without limitation laws related to the privacy of
        personally identifiable information (“Privacy Laws”), such as the European Union General Data Protection
        Regulation, Regulation (EU) 2016/679 (“GDPR”) and the California Consumer Privacy Act, Cal. Civ. Code §§
        1798.100–1798.199 (“CCPA”). Your Application must include your own user agreement and privacy policy, which are
        prominently located where users download or access your Application and accurately disclose to users how and
        what personal information you collect, use, store and share through your Application. If you are governed by the
        GDPR or CCPA and will be using Text Generator for the processing of “personal data” as defined in the GDPR or
        “Personal Information” as defined in the CCPA, you may wish to execute our GDPR / CCPA Data Processing
        Agreement. Please contact support@Text Generator.com for details.
        <br>
        (b) HIPAA. Text Generator does not intend, and absent its express written agreement does not permit, use of the
        APIs by any person that is a “covered entity” or a “business associate” under the Health Insurance Portability
        and Accountability Act, as amended (“HIPAA”), where such use would involve access by Text Generator to
        “protected health information” as defined under HIPAA. If you are (or become) a “covered entity” or “business
        associate” as defined in HIPAA, you will not use the APIs in any manner that would permit such access, absent
        prior written consent from Text Generator.
        <br>
        (c) Submission of Content. Text Generator does not acquire any ownership of any intellectual property rights in
        the content that you submit to our APIs through your Application, except as expressly provided in these Terms.
        For the sole purpose of enabling Text Generator and its affiliates to provide, secure, and improve the APIs (and
        related software, models, and algorithms), you give Text Generator and its affiliates a perpetual, irrevocable,
        worldwide, sublicensable, royalty-free, and non-exclusive license to use, host, store, modify, communicate and
        publish all content submitted, posted or displayed to or from the APIs through your Application. When
        permissible under applicable Privacy Laws, the foregoing license survives consumer requests for deletion of
        personal data or Personal Information for the sole purpose of enabling Text Generator and its affiliates to
        provide, secure, and improve the APIs. Before you submit content to our APIs through your Application, you will
        ensure that you have the necessary rights (including rights from your end users) to grant us the license.
        <br>
        7. Modifications
        You understand that we may change our rules and procedures relating to the use of the APIs at any time. We may
        also change or amend these Terms at any time in our sole discretion. We will post notice of changes within the
        documentation of each applicable API and/or to our website. Changes will not apply retroactively and will become
        effective no sooner than 14 days after they are posted, except for changes addressing new API functions or
        changes made for legal reasons, which will be effective immediately. Your continued use of the APIs and Content
        after any change or amendment means you agree to such changes or amendments. If you do not agree to such changes
        or amendments, you must stop using the APIs and Content immediately and terminate these Terms.
        <br>
        8. Term and Termination
        (a) Term. These Terms will take effect when you first use the APIs and will remain in effect until terminated
        according to these Terms (the “Duration”).
        <br>
        (b) Our Right to Terminate; Suspension. We have the right to terminate these Terms, and suspend or revoke your
        access to all or any of the APIs and Content, at any time for any reason. When you receive notice from us, you
        will immediately stop using all APIs and Content.
        <br>
        (c) Your Right to Terminate. You may terminate these Terms by discontinuing the use of the APIs and Content.
        <br>
        (d) Your Obligation Post-Termination. Upon termination, all licenses granted within these Terms immediately and
        automatically expire and you must immediately cease using the APIs and Content. You will promptly destroy or
        return to Text Generator everything tangible or electronic that contains any Confidential Information.
        <br>
        (e) Survival. The provisions of these Terms which, by their nature, should survive termination or expiration of
        these Terms, including but not limited to Section 2(b) - 2(i); Section 4 (Confidentiality); Section 5
        (Security); Section 6 (Privacy and Data Protection); Section 8 (Termination); Section 9 (Indemnification;
        Disclaimer of Warranties; Limitation of Liability), Section 10 (Fees and Payments), Section 11 (Export Control,
        Sanctions Compliance, and Related Matters) and Section 12 (General Terms), shall survive and remain in effect
        after the expiration or termination of these Terms, and apply to respective permitted successors and permitted
        assigns.
        <br>
        9. Indemnification; Disclaimer of Warranties; Limitations on Liability
        (a) Indemnity. You agree to defend, indemnify, and hold harmless us, our affiliates, and each of our employees,
        officers, directors, agents and representatives, from and against all claims, damages, losses, liabilities,
        judgments, penalties, fines, costs, and expenses (including attorneys’ fees) arising from or relating to: (i)
        your breach of these Terms; (ii) your use of the APIs, Content, and Developer Documentation; (iii) your
        Application; (iv) any content or data routed into or used with the APIs by you, those acting on your behalf, or
        your end users; (v) your actual or alleged infringement, misappropriation or violation of Text Generator, its
        affiliate’s or any third party’s intellectual property or proprietary rights.
        <br>
        (b) Disclaimer. THE APIs ARE LICENSED ON AN “AS IS” AND “AS-AVAILABLE” BASIS. Text Generator AND ITS AFFILIATES
        MAKE NO WARRANTIES (EXPRESS, IMPLIED, STATUTORY OR OTHERWISE) WITH RESPECT TO THE APIs, AND EXPRESSLY DISCLAIMS
        ALL IMPLIED WARRANTIES INCLUDING BUT NOT LIMITED TO WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
        PURPOSE, SATISFACTORY QUALITY, NON-INFRINGEMENT, AND QUIET ENJOYMENT, AND ANY WARRANTIES ARISING OUT OF ANY
        COURSE OF DEALING, PERFORMANCE, OR TRADE USAGE. Text Generator AND ITS AFFILIATES DO NOT WARRANT THAT THE APIs
        WILL BE UNINTERRUPTED, ACCURATE OR ERROR FREE OR SUCCEED IN RESOLVING ANY PROBLEM. YOU AGREE THAT USE OF THE
        APIs IS AT YOUR OWN RISK. YOU HAVE NO WARRANTY OR GUARANTEE UNDER THESE TERMS THAT THE OPERABILITY OF ANY OF
        YOUR APPLICATIONS RUNNING WITH THE APIs WILL BE MAINTAINED WITH ANY SUBSEQUENT OR GENERALLY AVAILABLE VERSIONS
        OF THE APIs OR THAT ANY VERSION OF THE APIs WILL EVER BE MADE AVAILABLE OR MARKETED. WE MAY DISCONTINUE
        PROVIDING THE API’s OR ACCESS TO OUR SYSTEM OR MAY CHANGE THE NATURE FEATURES, FUNCTIONS, SCOPE OR OPERATION
        THEREOF, AT ANY TIME AND FROM TIME TO TIME. NEITHER WE NOR ANY OF OUR AFFILIATES OR LICENSORS WARRANT THAT THE
        SERVICE OFFERINGS WILL CONTINUE TO BE PROVIDED, WILL FUNCTION AS DESCRIBED, CONSISTENTLY OR IN ANY PARTICULAR
        MANNER, OR WILL BE UNINTERRUPTED, ACCURATE, ERROR FREE OR FREE OF HARMFUL COMPONENTS.
        <br>
        (c) Limitations of Liability. NEITHER WE NOR ANY OF OUR AFFILIATES OR LICENSORS WILL BE LIABLE FOR ANY DIRECT,
        INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING, BUT NOT LIMITED TO, DAMAGES FOR
        LOSS OF PROFITS, GOODWILL, USE, OR DATA OR OTHER LOSSES (EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH
        DAMAGES) IN CONNECTION WITH THESE TERMS. IN ANY CASE, OUR AGGREGATE LIABILITY UNDER THESE TERMS SHALL BE LIMITED
        TO $100.
        <br>
        10. Fees and Payments
        a) Fees. You agree to pay all fees or charges to your account (“Fees”) in accordance with the prices and billing
        terms in effect at the time the Fee is incurred. Except as otherwise provided in a separate agreement between
        you and Text Generator, the current API pricing is set forth on our pricing page located at https://Text
        Generator.com/subscribe. We reserve the right to correct any errors or mistakes that we identify even if we
        have already issued an invoice or received payment.
        <br>
        We reserve the right to change our prices at any time. We will post notice of price increases in the pricing or
        applicable terms to your account and/or to our website. Price increases will become effective no sooner than 14
        days after they are posted, except for increases made for legal reasons, or increases made to Preview Services,
        which will be effective immediately. Any price changes will apply to the Fees charged to your account
        immediately after the effective date of the changes. If the change to any pricing or terms is not acceptable,
        your sole and exclusive remedy will be to cease using the API and cancel this Agreement. By continuing to use
        the service after notice of the change, you accept all such changes.
        <br>
        b) Taxes. Unless otherwise stated, Fees do not include federal, state, local, and foreign taxes, duties, levies,
        imposts, withholdings, and other similar assessments or any interest and penalties there on (“Taxes”). You are
        responsible for all Taxes associated with your purchase, excluding Taxes based on our net income. When required
        to do so, we will invoice you for such Taxes by adding the requisite amount to your Fees. You agree to timely
        pay such Taxes and promptly provide us with an original receipt showing the payment, together with such
        additional documentary evidence as we may from time to time reasonably require. You hereby confirm that Text
        Generator can rely on the name and address set forth in your account registration as being the place of supply
        for tax purposes. You agree to be responsible for keeping this information accurate and up-to-date in your
        Account Settings.
        <br>
        c) Billing Information. You must provide your contact information, including bill-to address and email address,
        if applicable, as well as information for a valid payment method that you are authorized to use. It is your
        responsibility to maintain complete and accurate billing information.
        <br>
        d) Payments. Text Generator will charge your credit card or digital payment method on a monthly basis, but may
        change the date on which the charge is posted at any time. All Fees are payable in U.S. dollars and are due upon
        invoice issuance. All payment obligations are non-cancelable and all amounts paid are nonrefundable except as
        provided in this Agreement.
        <br>
        e) Payment Authorization. By providing us with credit card information or information for any supported digital
        payment method, you authorize Text Generator and its affiliates to store this information and to charge the
        credit card or digital payment method you have provided for the Fees when due until your account is terminated.
        In addition, you authorize us to use a third-party payment processor in processing payments. If you notify us to
        stop using a previously designated payment method and fail to designate an alternative, your credit card expires
        or is declined, your payment information requires an update, or your payment cannot be completed for any other
        reason, we may provide you with notice via email and immediately suspend your use and access to the APIs until
        we receive payment.
        <br>
        f) Disputes and Late Payments. If you wish to dispute any Fees or Taxes, you must notify us in writing by
        emailing ar@Text Generator.com within thirty (30) days of the date of the disputed invoice. Any undisputed
        amounts past due are subject to a finance charge of 1.5% of the unpaid balance per month (or the highest rate
        permitted by law, whichever is lower) from the date such payment was due until the date paid. You will be
        responsible for all reasonable expenses (including attorneys’ fees) incurred by us in collecting past due
        amounts. If any amount of your Fees are past due, we may suspend your API access after we provide you written
        notice of late payment. Any amounts due under this Agreement shall not be withheld or offset by you against
        amounts due to you for any reason.
        <br>
        g) Free Trial. If you start a free trial and cancel before it ends, you cannot reactivate the free trial. If you
        elect to upgrade to paid API access at any point before the end of your free trial period, you acknowledge that
        your free trial may expire and Text Generator shall have no obligation to reinstate, reimburse, or otherwise
        compensate you for any such expired free trial.
        <br>
        11. Export Control, Sanctions Compliance, and Related Matters
        You may not use or otherwise export or re-export any APIs or any Text Generator Confidential Information
        received from Text Generator except as authorized by United States law and the laws of the jurisdiction in which
        the APIs or the Text Generator Confidential Information was obtained. In particular, but without limitation, the
        APIs and API Confidential Information may not be used in or for the benefit of, exported, or re-exported (a)
        into any U.S. embargoed countries (collectively, the “Embargoed Countries”) or (b) to anyone on the U.S.
        Treasury Department’s list of Specially Designated Nationals, any other restricted party lists (existing now or
        in the future) identified by the Office of Foreign Asset Control, or the U.S. Department of Commerce Denied
        Person’s List or Entity List, or any other restricted party lists (all of the foregoing restricted party lists,
        the “Restricted Party Lists”). You represent and warrant that you are not located in any Embargoed Countries and
        not on any of the Restricted Party Lists.
        <br>
        In addition, you agree to exclude, control, screen or limit (i) the regions from which your end users may access
        or use any of your Applications, and (ii) the persons or organizations who are your end users, in either case,
        in order to comply with all applicable laws related to Embargoed Countries or Restricted Party Lists, including
        any requirements or obligations to know your end users directly. Text Generator is not responsible for and does
        not have the means to know your end users.
        <br>
        12. General Terms
        (a) Additional Terms. In addition to these Terms, your use or access of the APIs may also be subject to any
        other agreements you have with Text Generator. If you use the APIs as an interface to, or in conjunction with,
        other Text Generator products and services, then the terms of those products and services also apply to you and
        your end users.
        <br>
        (b) Relationship of the Parties. These Terms do not create a partnership, joint venture or agency relationship
        between you and Text Generator or any of Text Generator’s affiliates. Text Generator and you are independent
        contractors and neither party will have the power to bind the other or to incur obligations on the other’s
        behalf without the other party’s prior written consent.
        <br>
        (c) Use of Brands. You will not use Text Generator’s or any of its affiliates’ names, logos, or trademarks,
        without our prior written consent.
        <br>
        (d) U.S. Federal Agency Entities. The APIs were developed solely at private expense and are commercial computer
        software and related documentation within the meaning of the applicable U.S. Federal Acquisition Regulation and
        agency supplements thereto.
        <br>
        (e) Assignment and Delegation. You may not assign or delegate any rights or obligations under these Terms,
        including in connection with a change of control. Any purported assignment and delegation shall be null and
        void. We may freely assign or delegate any and all rights and obligations under these Terms without notice to
        you.
        <br>
        (f) Equitable Remedies. You acknowledge that if you violate or breach these Terms, it may cause irreparable harm
        to Text Generator and its affiliates. Accordingly, you agree that, if you violate or breach these Terms, Text
        Generator shall have the right to seek injunctive relief against you in addition to any other legal remedies
        that Text Generator may have.
        <br>
        (g) Entire Agreement. These Terms and any policies incorporated in these Terms contain the entire agreement
        between you and Text Generator regarding the use of the APIs and supersedes any prior or contemporaneous
        agreements, communications, or understandings between you and Text Generator on that subject.
        <br>
        (h) Jurisdiction, Venue and Choice of Law. These Terms will be governed by the laws of the State of California,
        excluding California’s conflicts of law rules or principles. Except as provided in Section 12(k) below, all
        claims arising out of or relating to these Terms will be brought exclusively in the federal or state courts of
        San Francisco County, California, USA, and you and Text Generator each consents to personal jurisdiction in
        those courts.
        <br>
        (i) Notices. All notices will be in writing and will reference these Terms. We may notify you using the
        registration information you provided or the email address associated with your Application. Service will be
        deemed given on the date of receipt if delivered by email or on the date sent via courier if delivered by post.
        Text Generator accepts service of process at this address:
        <br>
        Word Smashing L.L.C.
        Attn: support@wordsmashing.com

        <br>
        (j) Waiver and Severability. If you do not comply with these Terms, and Text Generator does not take action
        right away, this does not mean the Text Generator is giving up any rights it may have (such as taking action in
        the future). If a particular term in these Terms is determined to be invalid or unenforceable by a court of
        competent jurisdiction, that term will be enforced to the maximum extent permissible and it will not affect the
        enforceability of any other terms.
        <br>
        (k) Dispute Resolution. In the event of a dispute, claim, or controversy arising out of or in connection with
        these Terms or the breach, termination, enforcement, interpretation, or validity thereof (collectively,
        “Disputes”), each party’s senior representatives will engage in good faith negotiations with the other party’s
        senior representatives to amicably resolve a Dispute (other than for Disputes related to the intellectual
        property of a party, which will be resolved in litigation before the United States District Court for the
        Northern District of California). If parties are unable to resolve a Dispute within thirty (30) days after the
        first request to engage in good faith negotiations or within such other time period as the parties may agree to
        in writing, then either party may commence binding arbitration under JAMS Comprehensive Arbitration Rules and
        Procedures. The parties will share equally the fees and expenses of the JAMS arbitrator. The arbitration will be
        conducted by a sole arbitrator chosen by the mutual agreement of the parties or, failing that, by JAMS under its
        then prevailing rules. Judgment on the award rendered by the arbitrator may be entered in any court of competent
        jurisdiction. The arbitrator will have the authority to grant specific performance or any other equitable or
        legal remedy, including provisional remedies. Each party will be responsible for its own incurred expenses
        arising out of any dispute resolution procedure. Any arbitration proceedings will take place in San Francisco,
        California.
        <br>
        (l) Class Waiver. Each party agrees that any Disputes between them must be brought against each other on an
        individual basis only. That means neither party can bring a Dispute as a plaintiff or class member in a class
        action, consolidated action, or representative action, in court, an arbitration proceeding or otherwise. In an
        arbitration proceeding, an arbitrator cannot combine more than one person’s or entity’s Disputes into a single
        case and cannot preside over any consolidated class or representative proceeding, and each party agrees the
        arbitrator’s decision or award in one person’s or entity’s case can only impact the person or entity that
        brought a Dispute and cannot impact or otherwise be used to decide Disputes with other people or entities,
        including other Text Generator customers or users. If for any reason a Dispute proceeds in court rather than
        through arbitration, each party knowingly and irrevocably waives any right to trial by jury in any action,
        proceeding, or counterclaim arising out of or relating to these Terms. If a court decides that this Section
        12(l) is not enforceable or valid, then this Section 12(l) will be null and void, but the rest of these Terms
        will still apply.
        <br>
        (m) Notice of Business Acquisitions, Combinations and Similar Transactions. If you are a corporation, limited
        liability company, limited partnership, trust or other entity, you will notify us in writing at least 30 days
        prior to consummating a transaction or a series of transactions in which you buy, sell, share or transfer one or
        more API keys pursuant to a business combination, acquisition, merger, joint venture, partnership transaction,
        purchase or sale of all or substantially all of the assets of an entity, or liquidation event.


    </p>
</div>
    </div>
    {% import "templates/macros.jinja2" as macros with context %}

{{ macros.svgstyled() }}
</main>
