{% extends 'templates/base.jinja2' %}

{% block headers %}

    {% set title = 'About Text Generator - Create Text Experiences and bots' -%}
    {% set description = 'All About Text Generator! How do we generate realistic text!' -%}

    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description"
          content="{{ description }}">

    <meta name="keywords" content="ai bot, text generator, OpenAI, GPT">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:url" content="{{ url }}">
    <meta property="og:image" content="{{ static_url }}/img/brain-generated256.png">
    <meta property="og:description"
          content="{{ description }}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Text Generator">
    <meta property="fb:admins" content="337972272904903">

{% endblock %}

{% block mainbody %}
    <script>
        function displayDates() {
            $.each($('.moment-date'), function (idx, el) {
                var dateUnix = $(el).html()
                var momenttime = moment.unix(dateUnix);
                var dateText = momenttime.fromNow()
                $(el).html(dateText);
                $(el).attr('title', momenttime.format('MMMM Do YYYY, h:mm:ss a'))
            });
        }

        initApp = function () {
            // Check PostgreSQL authentication
            checkAuthStatus();
        }

        async function checkAuthStatus() {
            try {
                console.log('checkAuthStatus: checking authentication...');
                const response = await fetch('/api/current-user');
                console.log('checkAuthStatus: current-user response:', response.status, response.statusText);
                
                if (response.ok) {
                    const user = await response.json();
                    console.log('checkAuthStatus: user authenticated:', user);
                    // User is signed in
                    window.user = user;
                    
                    // Get user data with Stripe usage
                    getUserWithStripe(user, function (data) {
                        console.log('checkAuthStatus: got user data with stripe:', data);
                        var email = data['email'];
                        $('.email').html(email);

                        var api_key = data['secret'];
                        $('.api_key').html(api_key);

                        {#var referral_url_key = data['referral_url_key'];#}
                        {#$('.referral_url_key').html('https://bitbank.nz?r=' + referral_url_key)#}
                        $('#manage-subscriptions-link').html(`<a href="/portal" target="_blank" class="mdl-button mdl-js-button">Manage Subscriptions</a>`)
                        // No usage tracking anymore - we don't do metering

                        $('#self-hosting').html("<h4>Download Self Hosted Server</h4> <h5>Direct Docker Image Download</h5><p> <a href='https://storage.googleapis.com/questions-346919/text-generator.tar'>Docker Container .tar Download</a></p>" +
                          "<h5>Container download script</h5><p> <pre><code>curl https://static.text-generator.io/static/resources/download_container.sh | bash</code></pre></p>" +
                          "<p>After downloading the container with either method, proceed to follow the <a href='/self-hosting'>self host instructions</a> available for <a href='/docs/kubernetes'>Kubernetes</a>, <a href='/docs/docker'>Docker</a></p>" );

                    });
                } else {
                    // User is signed out - let's see what the error is
                    const errorText = await response.text();
                    console.log('checkAuthStatus: authentication failed:', response.status, errorText);
                    console.error('Authentication failed:', response.status, '-', errorText);
                    // Don't redirect automatically for now
                }
            } catch (error) {
                console.log('checkAuthStatus: error:', error);
                console.error('Error checking authentication:', error.message);
                // Don't redirect automatically for now
            }
        };

        // Removed plotPlotlyGraph function - no longer needed since we don't do metering

        window.addEventListener('load', function () {
            initApp()
        });
    </script>
    <div class="demo-ribbon"></div>
    <main class="demo-main mdl-layout__content">
        <div class="demo-container mdl-grid">
            <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
            <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">

                <h3>Account Info</h3>
                {#                <p>Your unique bitcoin address for payment:</p>#}
                {#                <code><p class="btc-address"></p></code>#}

                <p>Email: <span class="email"></span></p>


                {#                <p>Your referral url: <span class="referral_url_key"></span></p>#}
                <p>Your API key: <code><span class="api_key"></span></code></p>

                <h4>Settings</h4>
                <p id="manage-subscriptions-link"></p>
                <h4>Self Hosting</h4>
                <div id="self-hosting"></div>

                <button class="mdl-button mdl-js-button mdl-button--raised" onclick="signout()">Log out</button>
                <script>
                    function signout() {
                        fetch('/api/logout', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                        }).then(() => {
                            clearUserDataFromStorage();
                            location.href = '/login';
                        }).catch(error => {
                            console.error('Error signing out:', error);
                            clearUserDataFromStorage();
                            location.href = '/login';
                        });
                    }
                </script>
            </div>
        </div>

    </main>

{% endblock %}


