{% extends 'templates/base.jinja2' %}

{% block headers %}

    {% set title = 'Contact Text Generator for self hosting' -%}
    {% set description = 'Contact Text Generator, self host private API for text generation!' -%}

    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description"
          content="{{ description }}">

    <meta name="keywords" content="text generation, realistic text generation, text autocomplete, language generator">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:url" content="https://text-generator.io">
    <meta property="og:image" content="{{ static_url }}/img/brain-generated256.png">
    <meta property="og:description"
          content="{{ description }}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Text Generator">
    <meta property="fb:admins" content="337972272904903">

{% endblock %}

{% block mainbody %}
    {% include "/templates/shared/contact.jinja2" %}
{% endblock %}


