{% extends 'templates/base.jinja2' %}

{% block headers %}

    {% set title = 'Text Generator - Fast Affordable AI based Text Generation' -%}
    {% set description = 'Generate text with industry leading privacy, quality and cost. Realistic text generation is now possible' -%}

    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description"
          content="{{ description }}">

    <meta name="keywords" content="text generation, language generation, classification, text based machine learning, natural language generation">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:url" content="https://text-generator.io">
    <meta property="og:image" content="{{ static_url }}/img/brain-generated256.png">
    <meta property="og:description"
          content="{{ description }}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Text Generator">
    <meta property="fb:admins" content="337972272904903">


{% endblock %}

{% block mainbody %}
    {% include "/templates/shared/index.jinja2" %}
{% endblock %}
