{% extends 'templates/base.jinja2' %}

{% block headers %}

    {% set title = 'Login - Text Generator ' -%}
    {% set description = 'Login to Text Generator Machine Learning/AI account' -%}

    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description"
          content="{{ description }}">

    <meta name="keywords" content="language generation, text generation, text generator, login">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:url" content="{{ url }}">
    <meta property="og:image" content="{{ static_url }}/img/bitbank-icon128.png">
    <meta property="og:description"
          content="{{ description }}">
    <meta property="og:site_name" content="text generator">
    <meta property="fb:admins" content="337972272904903">


{% endblock %}

{% block mainbody %}
    <div style="padding: 40px">
        <p>If this is your first time logging in after migration, enter your email and choose a password.</p>
        <form method="post" action="/login">
            <input type="email" name="email" placeholder="Email" required><br>
            <input type="password" name="password" placeholder="Password" required><br>
            <button type="submit">Login / Set Password</button>
        </form>
    </div>
{##}
{#    <div class="demo-ribbon"></div>#}
{#    <main class="demo-main mdl-layout__content">#}
{#        <div class="demo-container mdl-grid">#}
{#            <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>#}
{#            <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">#}
{##}
{#                <h3>Login</h3>#}
{#                <hr>#}
{#            </div>#}
{#        </div>#}
{##}
{#    </main>#}

{% endblock %}
