<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
	<url>
		<loc>https://text-generator.io</loc>
		<changefreq>weekly</changefreq>
		<priority>1</priority>
	</url>
	<url>
		<loc>https://text-generator.io/about</loc>
		<changefreq>weekly</changefreq>
		<priority>0.1</priority>
	</url>	<url>
		<loc>https://text-generator.io/blog</loc>
		<changefreq>weekly</changefreq>
		<priority>0.1</priority>
	</url>
    <url>
		<loc>https://text-generator.io/how-it-works</loc>
		<changefreq>weekly</changefreq>
		<priority>0.1</priority>
	</url>
    <url>
		<loc>https://text-generator.io/docs</loc>
		<changefreq>weekly</changefreq>
		<priority>0.1</priority>
	</url>
	<url>
		<loc>https://text-generator.io/terms</loc>
		<changefreq>weekly</changefreq>
		<priority>0</priority>
	</url>
	<url>
		<loc>https://text-generator.io/privacy</loc>
		<changefreq>weekly</changefreq>
		<priority>0</priority>
	</url>
	<url>
		<loc>https://text-generator.io/contact</loc>
		<changefreq>weekly</changefreq>
		<priority>0</priority>
	</url>
    <url>
		<loc>https://text-generator.io/subscribe</loc>
		<changefreq>weekly</changefreq>
		<priority>0</priority>
	</url>
    <url>
		<loc>https://text-generator.io/playground</loc>
		<changefreq>weekly</changefreq>
		<priority>0.1</priority>
	</url>
    <url>
        <loc>https://text-generator.io/account</loc>
        <changefreq>weekly</changefreq>
        <priority>0.1</priority>
    </url>
</urlset>
