{% extends 'templates/base.jinja2' %}

{% block headers %}

    {% set title = 'Speech To Text - Text Generator' -%}
    {% set description = 'Transcribe audio using affordable Speech To Text.' -%}

    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="speech to text, transcription, API">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:url" content="{{ url }}">
    <meta property="og:image" content="{{ static_url }}/img/brain-generated256.png">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Text Generator">
    <meta property="fb:admins" content="337972272904903">

{% endblock %}

{% block mainbody %}
    {% include "/templates/shared/speech-to-text.jinja2" %}
{% endblock %}
