{% extends 'templates/base.jinja2' %}

{% block headers %}

    {% set title = 'Payment Success - Text Generator' -%}
    {% set description = 'Success Read the docs - Learn how to use a Powerful Text Generator.' -%}

    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description"
          content="{{ description }}">

    <meta name="keywords" content="text generation, realistic text generation, text autocomplete, language generator, docs">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:url" content="https://text-generator.io">
    <meta property="og:image" content="https://text-generator.io/static/img/brain-generated256.png">
    <meta property="og:description"
          content="{{ description }}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Text Generator">
    <meta property="fb:admins" content="337972272904903">

{% endblock %}

{% block mainbody %}
    {% include "/templates/shared/success.jinja2" %}
{% endblock %}


