{% extends 'templates/base.jinja2' %}

{% block headers %}

    {% set title = 'Examples - Text Generator - Create Text Experiences and bots' -%}
    {% set description = 'All Example use cases for Text Generator API' -%}

    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description"
          content="{{ description }}">

    <meta name="keywords" content="ai bot, text generator, OpenAI, Example uses">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:url" content="{{ url }}">
    <meta property="og:image" content="{{ static_url }}/img/brain-generated256.png">
    <meta property="og:description"
          content="{{ description }}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Text Generator">
    <meta property="fb:admins" content="337972272904903">

{% endblock %}

{% block mainbody %}
    {% include "/templates/shared/use-cases.jinja2" %}
{% endblock %}


