name: Unit Tests
on:
  push:
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup sellerinfo
        run: cp sellerinfo_faked.py sellerinfo.py
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install uv
        run: pip install uv
      - name: Install dependencies
        run: |
          uv pip install --system -r requirements.txt
          uv pip install --system -r dev-requirements.txt
      - name: Run unit tests (excluding inference and integration)
        run: pytest tests/unit -m "not inference and not integration"
